#about-banner {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 15%)),
    url("../images/bg3.jpg");
  height: 80vh;
  max-height: 750px;
}
#sale-banner {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 15%)),
    url("../images/img1xe34.jpg");
  height: 80vh;
  max-height: 750px;
}
#rent-banner {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 15%)),
    url("../images/bg-5.jpg");
  height: 80vh;
  max-height: 750px;
}
#foreclosed-banner {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 15%)),
    url("../images/bg-4.jpeg");
  height: 80vh;
  max-height: 750px;
}
.c-text-fp {
  text-shadow: 3px 1px #848484;
}

.heading-box {
  height: 140px;
  display: inline-flex;
  width: 330px;
  align-items: center;
  justify-content: center;
  background-color: #00000099;
  position: relative;
  border-right: 10px cyan;
  border-left: 10px cyan;
}

.heading-box:after {
  content: "";
  height: 4px;
  width: 20%;
  position: absolute;
  bottom: 75%;
  /* left: 10%; */
  background: cyan;
}
.heading-box:before {
  content: "";
  height: 4px;
  width: 50%;
  position: absolute;
  top: 70%;
  /* right: 0%; */
  background: cyan;
}

.ver-line-r,
.ver-line-l {
  position: relative;
}

.ver-line-l::after {
  content: "";
  height: 52%;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 120%;
  border: 3px solid #036868;
  border-top: 0px;
  border-bottom: 0;
  transform: scale(2);
}
.ver-line-r::before {
  content: "";
  height: 49%;
  width: 20px;
  position: absolute;
  top: 0%;
  right: 120%;
  border: 3px solid #036868;
  border-top: 0px;
  border-bottom: 0;
  transform: scale(2);
}

.custom-pagination a {
  background-color: #2e6464;
  background: #1bbcb3;
  padding: 4px 10px;
  border-radius: 23px;
  font-size: 12px;
  color: white;
}

.section-properties {
  margin-top: 6em;
}

.custom-pagination a.active {
  background: #2e6464;
  color: white;
}

@media (max-width: 993px) {
  .ver-line-r::before,
  .ver-line-l::after {
    display: none;
  }
}
