.parallax {
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-static {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 15%)),
    url("../images/home_main_bg.jpg");
}
